body {
    font-family: Roboto;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    margin: 0;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    color: white;
    padding: 8px 72px;
}

.navbar-header {
    font-weight: bold;
}

.navbar ul {
    display: flex;
    gap: 20px;
    list-style: none;
    font-weight: 300;
}

.navbar a {
    color: white;
    text-decoration: none;
}


/* MAIN HERO */
.main {
    display: flex;
    padding: 36px 72px;
    background-color: #1F2937;
    color: white;
    gap: 8px;
    height: 25vh;
}

.main-left-panel {
    font-size: 18px;
    flex: 1;
}

.main-header {
    font-size: 48px;
    font-weight: 900
}

.main-sign-up {
    padding: 6px 24px;
    background-color: #2882F6;
    color: white;
    font-weight: bold;
    border: 1px;
    border-radius: 10px;
    margin-top: 8px;
}

.main img {
    width: 400px;
    height: 200px;
    border: #E5E7EB 1px;
}

/* FIGURE HERO */
figure {
    margin: 0;
}

.figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 36px 72px;
    margin-bottom: 32px;
    height: 25vh;
}

.figure h2 {
    font-size: 32px;
}

.card-container {
    display: flex;
    gap: 36px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    height: 200px;
}

.card img {
    width: 100px;
    height: 100px;
    border: 2px solid #2882F6;
    border-radius: 10px;
}

/* SECTION */
section {
    background-color: #E5E7EB;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 36px 200px;
    height: 25vh;
}

.section-content {
    font-size: 36px;
    color: #1F2937;
    font-weight: lighter;
    font-style: italic;
    flex-wrap: wrap;
}

.section-quote {
    margin-left: auto;
}

/* SUMMARY */
.summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 36px 72px;
    height: 25vh;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2882F6;
    border: #2882F6 1px;
    border-radius: 5px;
    padding: 16px 72px;
    color: white;
}

.banner-left-content-one {
    font-weight: bold;
}

.banner-sign-up {
    background-color: transparent;
    color: white;
    border: #E5E7EB 2px solid;
    border-radius: 10px;
    padding: 6px 24px;
}

/*FOOTER*/
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: white;
    padding: 36px 72px;
}